*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --color-black: #000;
  --color-dark-blue: #010058;
  --text-color-black: var(--color-black);
  --text-color-blue: var(--color-dark-blue);
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    print-color-adjust: exact !important;
    color-adjust: exact !important; /*Firefox*/
  }
}

body {
  margin: 0;
}
