*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-blue: #090799;
  --bg-color-white: var(--color-white);
  --text-color-black: var(--color-black);
  --text-color-blue: var(--color-dark-blue);
  --border-color-black: var(--color-black);
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    print-color-adjust: exact !important;
    color-adjust: exact !important; /*Firefox*/
  }
}

body {
  margin: 0;
}
